body {
background-color: #D6E5CB;
color: #302D2D;
font-size: 3vw;
font-family: Oswald;}
a {
  font-weight: bold;
  color: #CD504A;
  text-decoration: none;}
a:hover {
  color: #5A4E4E;}
h1 {
  font-family: Open Sans Condensed;
  color: #CD504A;
  font-weight: bold;
  font-size: 10vw;
}
h2 {
  font-family: Open Sans Condensed;
  color: #42777F;
  font-weight: bold;
  font-size: 5vw;
}
#container {
  padding: 10px;
  margin: 5px;}
