body {
background-color: #D6E5CB;
font-size: 14px;
font-family: Palatino;}
a {
  font-weight: bold;
  color: #CD504A;
  text-decoration: none;}
a:hover {
  color: #5A4E4E;}
h1 {
  font-family: Open Sans Condensed;
  color: #CD504A;
  font-weight: bold;
  font-size: 25px;
}
h2 {
  font-family: Open Sans Condensed;
  color: #42777F;
  font-weight: bold;
  font-size: 20px;
}
#container {
  padding: 10px;
  margin: 5px;}
