body {
background-color: #D6E5CB;
color: #302D2D;
font-size: 3vmin;
font-family: Roboto Condensed;}
a {
  font-weight: bold;
  color: #CD504A;
  text-decoration: none;}
a:hover {
  color: #5A4E4E;}
h1 {
  font-family: Open Sans Condensed;
  color: #CD504A;
  font-weight: bold;
  font-size: 6vmin;
  padding-bottom: 2px;
  margin-bottom: 2px;
  text-align: center;
}
h2 {
  font-family: Open Sans Condensed;
  color: #42777F;
  font-weight: bold;
  font-size: 4vmin;
  padding-bottom: 2px;
  margin-bottom: 2px;
  text-align: center;
}
#container {
  padding: 10px;
  margin: 5px;}
#about {
  padding-left: 3vw;
  margin-left: 2vw;
  border-left: 2vw solid #CD504A;
  text-align: justify;}
